* {
box-sizing : border-box;
}
div.c1 {
text-align : right;
}
img, embed, object, video {
max-width : 100%;
}
nav a, buttom {
min-width : 48px;
min-height : 48px;
}
* {
font-family : 'Lato', sans-serif;
color : grey;
}
@media only screen and (max-width:500px) {
p {
display : none;
}
}
.row {
width : 100%;
display : flex;
}
.col-md-1 {
width : 8.66%;
}
.col-md-2 {
width : 16.66%;
}
.col-md-3 {
width : 25%;
}
.col-md-4 {
width : 33.33%;
}
.col-md-5 {
width : 41.99%;
}
.col-md-6 {
width : 50%;
}
.col-md-7 {
width : 58.66%;
}
.col-md-8 {
width : 67.32%;
}
.col-md-9 {
width : 75.98%;
}
.col-md-10 {
width : 84.64%;
}
.col-md-11 {
width: 93.30%;
}
.col-md-12 {
width: 100%;
}


